@model AwqafZakat.Models.tblFamilyRegistration

@{
    ViewBag.Title = "FamilyReg";
    Layout = "~/Views/Shared/_mytemplate.cshtml";

    // List<SelectListItem> li = new List<SelectListItem>();
    // li.Add(new SelectListItem(){Text = "Apple",Value = "20"});
    // li.Add(new SelectListItem() { Text = "Orannge", Value = "200" });
}

<style>
    .ui-datepicker td span,
    .ui-datepicker td a {
        padding-bottom: 1em;
    }

    .ui-datepicker-title[data-custom] {
        position: relative;
        padding-bottom: 10px;
    }

        .ui-datepicker-title[data-custom]::after {
            color: green;
            content: attr(data-custom);
            display: block;
            font-size: small;
        }

    .ui-datepicker td[title]::after {
        content: attr(title);
        display: block;
        position: relative;
        color: green;
        font-size: .8em;
        height: 1.25em;
        margin-top: -1.25em;
        text-align: right;
        padding-right: .25em;
    }
</style>

<div class="reg-title" style="background:#ED7D31;margin-bottom:20px;">
    <h3>استمارة تسجيل الأسرة</h3>
</div>
<div class="wizard-container">
    <div class="card wizard-card" data-color="blue" id="wizardProfile">
        @using (Html.BeginForm("FamilyReg", "FamilyRegistrations", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.familyRegID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.familyRegID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.familyRegID, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="wizard-navigation">
                        <ul class="nav nav-pills">
                            <li class="active" style="width: 24%;"><a href="#officialdata" data-toggle="tab" aria-expanded="true">البيانات الرسمية</a></li>
                            <li class="" style="width: 24%;"><a href="#familymemberdata" data-toggle="tab" aria-expanded="false">بيانات عضو العائلة</a></li>
                            <li class="" style="width: 24%;"><a href="#familyeconomy" data-toggle="tab" aria-expanded="false">الاقتصاد العائلي</a></li>
                            <li style="width: 24%;"><a href="#Officialuse" data-toggle="tab">الاستخدام الرسمي</a></li>
                        </ul>

                    </div> <!-- wizard-navigation -->
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="officialdata">
                        <div class="form-area">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    @Html.EditorFor(model => model.nextUpdationDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nextUpdationDate, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-sm-2">تاريخ التحديث القادم</label>
                                @*@Html.LabelFor(model => model.nextUpdationDate, htmlAttributes: new { @class = "control-label col-sm-3" })*@
                                <div class="col-sm-2">
                                    @Html.EditorFor(model => model.registrationDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.registrationDate, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-sm-2">تاريخ التسجيل (ه)</label>
                                @*@Html.LabelFor(model => model.registrationDate, htmlAttributes: new { @class = "control-label col-sm-3" })*@
                                <div class="col-sm-2">
                                    @Html.EditorFor(model => model.registrationDateHijri, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.registrationDateHijri, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-sm-2">تاريخ التسجيل (م)</label>
                                @*@Html.LabelFor(model => model.registrationDateHijri, htmlAttributes: new { @class = "control-label col-sm-3" })*@

                                @*<div class="col-sm-3">
                                        @Html.EditorFor(model => model.familyRegNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.familyRegNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-sm-3">رقم الأسرة في النظام</label>*@



                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-sm-push-3">
                                    @Html.EditorFor(model => model.ncoordinate, new { htmlAttributes = new { @placeholder = "N", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ncoordinate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-3 col-sm-push-3">
                                    @Html.EditorFor(model => model.ecoordinate, new { htmlAttributes = new { @placeholder = "E", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ecoordinate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2"></div>
                                <label class="control-label col-sm-4">إحداثيات الموقع جي . بي .أس</label>
                                @*@Html.LabelFor(model => model.ecoordinate, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                            </div>
                            <div class="form-group">
                                <div class="officialdata" style="background:#FFD966;"><h3 style="color:#000000">بيانات المسئول عن الأسرة</h3></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-push-1">
                                            @Html.EditorFor(model => model.civilNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.civilNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">الرقم المدني:</label>
                                        @*@Html.LabelFor(model => model.civilNumber, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.tripleNameTribe, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.tripleNameTribe, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">الاسم الثلاثي والقبيلة:</label>
                                        @*@Html.LabelFor(model => model.tripleNameTribe, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-push-1">
                                            <input type="text" id="age" class="form-control" />
                                        </div>
                                        <label class="control-label col-sm-4">العمر:</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">تاريخ الميلاد :</label>
                                        @*@Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-push-1">
                                            @Html.EditorFor(model => model.occupation, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.occupation, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">الوظيفة :</label>
                                        @*@Html.LabelFor(model => model.occupation, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.relationshipOfKinship, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.relationshipOfKinship, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">صلة القرابة :</label>
                                        @*@Html.LabelFor(model => model.relationshipOfKinship, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-push-1">
                                            @Html.EditorFor(model => model.socialStatus, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.socialStatus, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">الحالة الاجتماعية :</label>
                                        @*@Html.LabelFor(model => model.socialStatus, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.education, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.education, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">المؤهل التعليمي :</label>
                                        @*@Html.LabelFor(model => model.education, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-push-1">
                                            @Html.EditorFor(model => model.numberOfFamilyMember, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.numberOfFamilyMember, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-3 col-sm-push-1">عدد أفراد الاســرة :</label>
                                        @*@Html.LabelFor(model => model.numberOfFamilyMember, htmlAttributes: new { @class = "control-label col-sm-3 col-sm-push-1" })*@
                                        <div class="col-sm-3 col-sm-push-2">
                                            @Html.EditorFor(model => model.village, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.village, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-2 col-sm-push-2">القرية :</label>
                                        @*@Html.LabelFor(model => model.village, htmlAttributes: new { @class = "control-label col-sm-2 col-sm-push-2" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.region, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.region, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">المنطقة :</label>
                                        @*@Html.LabelFor(model => model.region, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-push-1">
                                            @Html.EditorFor(model => model.houseNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.houseNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">رقم المنزل :</label>
                                        @*@Html.LabelFor(model => model.houseNumber, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.railwayNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.railwayNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">رقم السكة :</label>
                                        @*@Html.LabelFor(model => model.railwayNumber, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-push-1">
                                            @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">الجنسية :</label>
                                        @*@Html.LabelFor(model => model.nationality, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.mosque, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.mosque, "", new { @class = "text-danger" })
                                        </div>
                                        <label class="control-label col-sm-4">اسم أقرب مسجد من البيت :</label>
                                        @*@Html.LabelFor(model => model.mosque, htmlAttributes: new { @class = "control-label col-sm-4" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 col-sm-push-1">
                                        @Html.EditorFor(model => model.whatsapp, new { htmlAttributes = new { @placeholder = "1 -", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.whatsapp, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-3 col-sm-push-1">
                                        @Html.EditorFor(model => model.homePhone, new { htmlAttributes = new { @placeholder = "2 -", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.homePhone, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-sm-3 col-sm-push-1">
                                        @Html.EditorFor(model => model.officePhone, new { htmlAttributes = new { @placeholder = "3 -", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.officePhone, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-sm-3">أرقام الهواتف :</label>
                                    @*@Html.LabelFor(model => model.officePhone, htmlAttributes: new { @class = "control-label col-sm-3" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 col-sm-push-1">
                                        @Html.EditorFor(model => model.accountNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.accountNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-sm-3">رقم الحســـاب:</label>
                                    @*@Html.LabelFor(model => model.accountNumber, htmlAttributes: new { @class = "control-label col-sm-3" })*@
                                    <div class="col-sm-3 col-sm-push-1">
                                        @Html.EditorFor(model => model.bank, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.bank, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-sm-3">اســــــــم البنك:</label>
                                    @*@Html.LabelFor(model => model.bank, htmlAttributes: new { @class = "control-label col-sm-3" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3">
                                    <img src="@Url.Content(Model.document)" style="margin:10px" height="180" width="180" id="imagePreview" />
                                </div>
                                <div class="col-sm-3">
                                    <input multiple type="file" name="ImageUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))" />
                                    @*Html.EditorFor(model => model.idCard, new {htmlAttributes = new { type="file", @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.document, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-sm-2">إرفاق بطاقة الهوية</label>
                                @*@Html.LabelFor(model => model.document, htmlAttributes: new { @class = "control-label col-sm-2" })*@
                            </div>
                            <div class="form-group family" style="margin-bottom:20px;">
                                <div class="col-sm-10 col-sm-push-1">
                                    @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-sm-2">ملاحظات: </label>
                                @*@Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-sm-2" })*@
                            </div>
                        </div> <!-- form-area end -->
                        <div class="contadiner" style="max-width:1100px;padding-left: 0;padding-right: 0;">
                            <div class="reg-title" style="background:#FFF2CC;text-align:right">
                                <p>المستندات المطلوبة :</p>
                                <p>1 - نسخة من البطاقة الشخصية أو جواز السفر للمسئول عن الأسرة.</p>
                                <p>2 - نسخة من البطاقة الشخصية أو جواز السفر أو شهادة الميلاد لأفراد الأسرة.</p>
                                <p>3 - نسخة من فاتورة الكهرباء للسكن الحالي.</p>
                                <p> 4 – اثبات رسمي للقرض.</p> <p>5 – اثبات رسمي لقسط السيارة.  </p><p>6 –نسخة من بطاقة الحساب البنكي للمسئول عن الأسرة.  </p> <p>7  – اثبات قسط الجمعية.</p> <p> 8 – اثبات عقد الإيجار.</p>
                            </div>
                        </div>
                    </div> <!-- end officaial data tab pane -->
                    <div class="tab-pane" id="familymemberdata">
                        <div class="form-group">
                            <div class="accreditation" style="background:#FFE599;padding:10px;">
                                <h3 style="color:#000000">بيانات أفراد الأسرة</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table memberdetails" border="1">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width:14.28%;text-align:center">أسماء أفراد العائلة</th>
                                            <th scope="col" style="width:14.28%;text-align:center"> الرقم المدني</th>
                                            <th scope="col" style="width:14.28%;text-align:center">صلة القرابة</th>
                                            <th scope="col" style="width:14.28%;text-align:center">
                                                الحالة
                                                (يعمل, لا يعمل، طالب، باحث عن عمل، متقاعد)
                                            </th>
                                            <th scope="col" style="width:14.28%;text-align:center">المرحلة الدراسية</th>
                                            <th scope="col" style="width:14.28%;text-align:center">المؤسسة التعليمية</th>
                                            <th scope="col" style="width:14.28%;text-align:center">الملاحظات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{var iMax = 2;}
                                        @for (int i = 0; i <= iMax; i++)
                                        {
                                            <tr>
                                                <th scope="row" style="text-align:right">
                                                    <input type="text" name="familymembername[]" class="form-control familymembername" placeholder="1" />
                                                </th>
                                                <td>
                                                    <input type="text" name="memberCivilNumber[]" class="form-control familycivilnumber" />
                                                </td>
                                                <td>
                                                    <input type="text" name="relativerelation[]" class="form-control familyrelativerelation" />
                                                </td>
                                                <td>
                                                    <input type="text" name="case[]" class="form-control case" />
                                                </td>
                                                <td>
                                                    <!-- at the top we've static ddl code and below have commented ddl -->
                                                    @*@Html.DropDownList("EducationLevel", li, "Select")*@
                                                    @Html.DropDownList("educationLevelID[]", ViewBag.listname as SelectList, "Education Level")
                                                    @*@Html.DropDownListFor(model => model.educationLevelID, ViewBag.listname as SelectList, "Education Level")*@
                                                </td>
                                                <td>
                                                    <input type="text" name="educationalInstitute[]" class="form-control familymembereducationalinstitute" />
                                                </td>
                                                <td>
                                                    <input type="text" name="memberNotes[]" class="form-control familymembernotes" />
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                            <input type="button" class="addrow" value="Add Row" />
                        </div>
                        <div class="contdainer" style="max-width:1100px;padding-left: 0;padding-right: 0;">
                            <div class="reg-title" style="background:#FFF2CC;text-align:right">
                                <p style="padding-top:10px">1 - الرجاء تعبئة جميع الحقول.</p>
                                <p>2 - الرجاء ذكر أسماء أفراد العائلة الذين يسكنون في نفس البيت فقط.</p>
                            </div>
                        </div>
                    </div> <!-- end family memberdata tab pane -->
                    <div class="tab-pane" id="familyeconomy">
                        <div class="form-group">
                            <div class="accreditation" style="background:#C5E0B3;padding:10px;">
                                <h3 style="color:#000000">دخل الأسرة : مثال (رواتب – مبالغ نقدية – إيجارات – معاش الضمان – معاش التقاعد –  مساهمة الأبناء ...أخرى )</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table" border="1">
                                    <thead>
                                        <tr style="background:#FFE599">
                                            <th scope="col" style="width:6%;text-align:center">م</th>
                                            <th scope="col" style="width:31%;text-align:center">  دخل الأسرة</th>
                                            <th scope="col" style="width:31%;text-align:center">العدد</th>
                                            <th scope="col" style="width:31%;text-align:center">المبلغ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="text-align:right">1</th>
                                            <td><input type="text" name="householdincome[]" class="form-control householdincome" /></td>
                                            <td><input type="text" name="incomenumber[]" class="form-control incomenumber" /></td>
                                            <td><input type="text" name="incomeamount[]" class="form-control incomeamount" /></td>

                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">2</th>
                                            <td><input type="text" name="householdincome[]" class="form-control householdincome" /></td>
                                            <td><input type="text" name="incomenumber[]" class="form-control incomenumber" /></td>
                                            <td><input type="text" name="incomeamount[]" class="form-control incomeamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">3</th>
                                            <td><input type="text" name="householdincome[]" class="form-control householdincome" /></td>
                                            <td><input type="text" name="incomenumber[]" class="form-control incomenumber" /></td>
                                            <td><input type="text" name="incomeamount[]" class="form-control incomeamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">4</th>
                                            <td><input type="text" name="householdincome[]" class="form-control householdincome" /></td>
                                            <td><input type="text" name="incomenumber[]" class="form-control incomenumber" /></td>
                                            <td><input type="text" name="incomeamount[]" class="form-control incomeamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">5</th>
                                            <td><input type="text" name="householdincome[]" class="form-control householdincome" /></td>
                                            <td><input type="text" name="incomenumber[]" class="form-control incomenumber" /></td>
                                            <td><input type="text" name="incomeamount[]" class="form-control incomeamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:left;background: #FC8888" colspan="3"><span id="totalincome" style="float:right;margin-right:55px;"></span>الإجمـــــــــــــــــــــالي </th>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="accreditation" style="background:#C5E0B3;padding:10px;">
                                <h3 style="color:#000000">مصاريف الأسرة : مثال (إيجار – ديون – قسط البنك – قسط السيارة – قسط الجمعية ...أخرى )</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table" border="1">
                                    <thead>
                                        <tr style="background:#FFE599">
                                            <th scope="col" style="width:6%;text-align:center">M</th>
                                            <th scope="col" style="width:31%;text-align:center">المصاريف</th>
                                            <th scope="col" style="width:31%;text-align:center">العدد</th>
                                            <th scope="col" style="width:31%;text-align:center">المبلغ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="text-align:right">1</th>
                                            <td><input type="text" name="householdexpense[]" class="form-control householdexpense" /></td>
                                            <td><input type="text" name="expensenumber[]" class="form-control expensenumber" /></td>
                                            <td><input type="text" name="expenseamount[]" class="form-control expenseamount" /></td>

                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">2</th>
                                            <td><input type="text" name="householdexpense[]" class="form-control householdexpense" /></td>
                                            <td><input type="text" name="expensenumber[]" class="form-control expensenumber" /></td>
                                            <td><input type="text" name="expenseamount[]" class="form-control expenseamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">3</th>
                                            <td><input type="text" name="householdexpense[]" class="form-control householdexpense" /></td>
                                            <td><input type="text" name="expensenumber[]" class="form-control expensenumber" /></td>
                                            <td><input type="text" name="expenseamount[]" class="form-control expenseamount" /></td>

                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">4</th>
                                            <td><input type="text" name="householdexpense[]" class="form-control householdexpense" /></td>
                                            <td><input type="text" name="expensenumber[]" class="form-control expensenumber" /></td>
                                            <td><input type="text" name="expenseamount[]" class="form-control expenseamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">5</th>
                                            <td><input type="text" name="householdexpense[]" class="form-control householdexpense" /></td>
                                            <td><input type="text" name="expensenumber[]" class="form-control expensenumber" /></td>
                                            <td><input type="text" name="expenseamount[]" class="form-control expenseamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">6</th>
                                            <td><input type="text" name="householdexpense[]" class="form-control householdexpense" /></td>
                                            <td><input type="text" name="expensenumber[]" class="form-control expensenumber" /></td>
                                            <td><input type="text" name="expenseamount[]" class="form-control expenseamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">7</th>
                                            <td><input type="text" name="householdexpense[]" class="form-control householdexpense" /></td>
                                            <td><input type="text" name="expensenumber[]" class="form-control expensenumber" /></td>
                                            <td><input type="text" name="expenseamount[]" class="form-control expenseamount" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:left;background: #FC8888" colspan="3"><span id="totalexpense" style="float:right;margin-right:55px;"></span>الإجمـــــــــــــــــــــالي</th>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="accreditation" style="background:#DEEAF6;padding:10px;">
                                <h3 style="color:#000000">ممتلكات الأسرة : مثال (المنازل – الأراضي – السيارات  ...أخرى )</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table" border="1">
                                    <thead>
                                        <tr style="background:#FFE599">
                                            <th scope="col" style="width:6%;text-align:center">م</th>
                                            <th scope="col" style="width:47%;text-align:center">الممتلكات </th>
                                            <th scope="col" style="width:47%;text-align:center">العدد</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="text-align:right">1</th>
                                            <td><input type="text" name="familyproperty[]" class="form-control familyproperty" /></td>
                                            <td><input type="text" name="familypropertynumber[]" class="form-control familypropertynumber" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">2</th>
                                            <td><input type="text" name="familyproperty[]" class="form-control familyproperty" /></td>
                                            <td><input type="text" name="familypropertynumber[]" class="form-control familypropertynumber" /></td>

                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">3</th>
                                            <td><input type="text" name="familyproperty[]" class="form-control familyproperty" /></td>
                                            <td><input type="text" name="familypropertynumber[]" class="form-control familypropertynumber" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align:right">4</th>
                                            <td><input type="text" name="familyproperty[]" class="form-control familyproperty" /></td>
                                            <td><input type="text" name="familypropertynumber[]" class="form-control familypropertynumber" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label style="float:left"> العدد: </label>
                                @Html.EditorFor(model => model.numberOfOrphan, new { htmlAttributes = new { @class = "form-control numberoforphan" } })
                                @*@Html.ValidationMessageFor(model => model.numberOfOrphan, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="col-sm-1">
                                <label class="checkbox-inline">لا</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="radio" name="orphanhavenot" class="form-control orphanhavenot" />
                            </div>
                            <div class="col-sm-1">
                                <label style="">نعم </label>
                            </div>
                            <div class="col-sm-1">
                                <input type="radio" name="orphanhavenot" class="form-control orphanhave" />
                            </div>
                            <div class="col-sm-4">
                                <label style="float:left" class="">هل يوجد في الأسرة يتيم؟</label>
                                @*@Html.LabelFor(model => model.numberOfOrphan, htmlAttributes: new { @style = "float:left", @class = "" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-1">
                                <label class="checkbox-inline">لا</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="radio" name="receiveSubsidy" class="form-control" id="receivenotSubsidy" />
                            </div>
                            <div class="col-sm-1">
                                <label style="">نعم </label>
                            </div>
                            <div class="col-sm-1">
                                @Html.EditorFor(model => model.receiveSubsidy, new { htmlAttributes = new { @required="required", @type = "radio", @class = "form-control subsidyhave" } })
                                @*@Html.ValidationMessageFor(model => model.receiveSubsidy, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="col-sm-4">
                                <label style="float:left" class="">هل تستلم الأسرة إعانة من جهة أخرى؟</label>
                                @*@Html.LabelFor(model => model.receiveSubsidy, htmlAttributes: new { @style = "float:left", @class = "" })*@
                            </div>
                        </div>
                        <div class="form-group admin subsidystate" id="subsidystate" style="display:none">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-7 col-sm-pull-2">
                                @*<textarea rows="1" cols="70" name="subsidystate" style="width:100%" aria-required="true"></textarea>*@
                                @Html.EditorFor(model => model.subsidyState, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.subsidyState, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-2 col-sm-pull-2">الدولة ونوع المساعدة:</label>
                            @*@Html.LabelFor(model => model.subsidyState, htmlAttributes: new { @class = "control-label col-sm-2 col-sm-pull-2" })*@
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label style="float:left"> العدد: </label>
                                @Html.EditorFor(model => model.numberOfSpecialNeed, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.numberOfSpecialNeed, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-1">
                                <label class="checkbox-inline">لا</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="radio" name="haveSpecialNeed" class="form-control" />
                            </div>
                            <div class="col-sm-1">
                                <label style="">نعم</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="radio" name="haveSpecialNeed" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label class="" style="float:left;">هل يوجد في الأسرة من ذوي الاحتياجات الخاصة </label>
                                @*@Html.LabelFor(model => model.numberOfSpecialNeed, htmlAttributes: new { @style = "float:left", @class = "" })*@
                            </div>
                        </div>
                        <div class="form-group specialneeds" id="specialneeds" style="display:block">
                            <div class="table-responsive">
                                <table class="table" border="1">
                                    <thead>
                                        <tr style="background:#FFE599">
                                            <th scope="col" colspan="2" style="text-align:center">احتياجات الاسرة</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" placeholder="- 1" name="familyneed" class="form-control familyneed">
                                            </td>
                                            <td>
                                                <input type="text" placeholder="- 2" name="familyneed" class="form-control familyneed">
                                            </td>
                                        </tr>
                                        <tr>
                                            <!-- <th scope="row" style="text-align:right">2</th> -->
                                            <td><input type="text" placeholder="- 3" name="familyneed" class="form-control familyneed"></td>
                                            <td><input type="text" placeholder="- 4" name="familyneed" class="form-control familyneed"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="form-group" style="border:1px solid;margin:10px;">
                            <div class="signature-pledgeno">
                                <div class="signature-pledge-content">
                                    <div class="" style="padding: 0px 20px 10px 0px;">
                                        <h4 style="font-weight: bolder;color: #7F8A99;
    text-decoration: underline;margin-bottom: 15px;font-size: 20px;">
                                            إقرار المسئول عن الأسرة:
                                        </h4>
                                        <p style=" color #C00000;font-size 15px;font-weight bold;">اقر انا الموقع ادناه بصحة البيانات الواردة بهذه الاستمارة وأتحمل المسوؤلية الكاملة ان ظهر خلاف ذلك.</p>
                                        <div class="form-group" style="padding-bottom: 10px;">
                                            <div class="col-sm-3 col-sm-push-1" style="padding-left:30px">
                                                <div class="familyresponsiblesign" style="border-bottom-style: dashed;padding: 40px 0 0px 0;"></div>
                                            </div>
                                            <label for="pwd" class="control-label col-sm-3 col-sm-pull-1">التوقيع: </label>

                                            <div class="col-sm-6 col-sm-pull-1">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end family economy tab pane -->
                    <div class="tab-pane" id="Officialuse">
                        <div class="form-group">
                            <div class="accreditation" style="background:#5B9BD5;padding:10px;">
                                <h3 style="color:#FFFFFF">للاستخدام الرسمي</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="accreditation" style="background:#FFD966;color:#000000;padding: 10px;"><h5 style="font-size: 20px;">المشرف</h5></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-push-3">
                                @Html.EditorFor(model => model.supervisorName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.supervisorName, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-5">الاســـــــــــــــــم</label>
                            @*@Html.LabelFor(model => model.supervisorName, htmlAttributes: new { @class = "control-label col-sm-5" })*@
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-push-3">
                                @Html.EditorFor(model => model.supervisorPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.supervisorPhone, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-3 col-sm-push-1">رقم الهاتف: </label>
                            @*@Html.LabelFor(model => model.supervisorPhone, htmlAttributes: new { @class = "control-label col-sm-3 col-sm-push-1" })*@

                            <div class="col-sm-3 col-sm-push-1 col-sm-push-1">
                                @Html.EditorFor(model => model.supervisorAreaVillage, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.supervisorAreaVillage, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-3">المنطقة والقرية </label>
                            @*@Html.LabelFor(model => model.supervisorAreaVillage, htmlAttributes: new { @class = "control-label col-sm-3" })*@
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-push-3">
                                @Html.EditorFor(model => model.supervisorMosque, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.supervisorMosque, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-5">المســـــــــــــجد</label>
                            @*@Html.LabelFor(model => model.supervisorMosque, htmlAttributes: new { @class = "control-label col-sm-5" })*@
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-push-3">
                                @Html.EditorFor(model => model.supervisorObservedData, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.supervisorObservedData, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-5">الملاحظــــــات</label>
                            @*@Html.LabelFor(model => model.supervisorObservedData, htmlAttributes: new { @class = "control-label col-sm-5" })*@
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-push-3">
                                <div class="offcialsupervisorsign" style=" border-bottom-style dashed;padding 40px 0 0px 0;"></div>
                            </div>
                            <label for="pwd" class="control-label col-sm-3 col-sm-push-1">التوقيع:</label>

                            <div class="col-sm-3 col-sm-push-1 col-sm-push-1">
                                الإقــــــــــرار
                                اقر بأن جميع البيانات المذكورة في هذه الاستمارة
                                تم مراجعتها حسب النظام المتبع في لجنة الزكاة بولاية السيب.
                            </div>
                            <label for="pwd" class="control-label col-sm-3">الإقــــــــــرار</label>
                        </div>
                        <div class="form-group" style="margin:0px">
                            <div class="accreditation" style="background:#C00000;color:#ffffff;padding: 10px;">
                                <h5 style="font-size: 20px;">المراجعة والاعتمـــاد</h5>
                            </div>
                            <!-- </div> -->
                            <div class="form-group" style="margin:0px">
                                <div class="table-responsive">
                                    <table class="table" border="1">
                                        <thead>
                                            <tr style="background:#FFE599">
                                                <th scope="col" style="width:6%;text-align:center">م</th>
                                                <th scope="col" style="width:40%;text-align:center">التفاصيل</th>
                                                <th scope="col" style="width:27%;text-align:center">توقيع المراجع الأول</th>
                                                <th scope="col" style="width:27%;text-align:center">توقيع المراجع الثاني</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="text-align:right">1</th>
                                                <td>
                                                    تمت تعبئة جميع الحقول والبيانات المطلوبة في الاستمارة
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="text-align:right">2</th>
                                                <td>
                                                    توجد نسخة من الوثيقة الشخصية لجميع أفراد الأسرة
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="text-align:right">3</th>
                                                <td>
                                                    توجد نسخة من الحساب البنكي للمسؤول عن الأسرة ورقم
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="text-align:right">4</th>
                                                <td>
                                                    الحساب واضح
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="text-align:right">5</th>
                                                <td>
                                                    بيانات دخل الأسرة مع الوثائق مكتملة
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="text-align:right">6</th>
                                                <td>
                                                    بيانات مصاريف الأسرة مع الوثائق مكتملة
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" style="text-align:right">7</th>
                                                <td>
                                                    توجد نسخة من فاتورة الكهرباء او الماء
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="text-align:center">
                                                    إجمــــالي دخل الأسرة
                                                </td>
                                                <td colspan="2">
                                                    <input type="text" id="totalHouseholdIncome" disabled class="form-control" />
                                                    @*@Html.EditorFor(model => model.totalHouseholdIncome, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.totalHouseholdIncome, "", new { @class = "text-danger" })*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="text-align:center">
                                                    إجمــــالي مصاريف الأسرة
                                                </td>
                                                <td colspan="2">
                                                    <input type="text" id="totalHouseholdExpense" disabled class="form-control" />
                                                    @*@Html.EditorFor(model => model.totalHouseholdExpense, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    @*@Html.ValidationMessageFor(model => model.totalHouseholdExpense, "", new { @class = "text-danger" })*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="text-align:center">
                                                    نصيب الفرد من دخل الاسرة
                                                </td>
                                                <td colspan="2">
                                                    @Html.EditorFor(model => model.familyPerCapitaIncome, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.familyPerCapitaIncome, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-1">
                                        <label class="checkbox-inline">لا</label>
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-sm-1">
                                        <label style="">نعم </label>
                                    </div>
                                    <div class="col-sm-1">
                                        @Html.EditorFor(model => model.isFamilyWorthy, new { htmlAttributes = new { @type = "radio", @class = "form-control subsidyhave" } })
                                        @Html.ValidationMessageFor(model => model.isFamilyWorthy, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label" style="float:left">الاسرة غير مستحقة</label>
                                        @*@Html.LabelFor(model => model.isFamilyWorthy, htmlAttributes: new { @style = "float:left", @class = "control-label" })*@
                                    </div>
                                </div>
                                <div class="form-group admin" style="margin:20px">
                                    <div class="col-sm-10">
                                        @*<textarea rows="1" cols="70" name="familyNotes" style="width:100%" required=""></textarea>*@
                                        @Html.EditorFor(model => model.officialNotes, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.officialNotes, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-sm-2 col-sm-pull-1">الملاحظات:</label>
                                    @*@Html.LabelFor(model => model.officialNotes, htmlAttributes: new { @class = "control-label col-sm-2 col-sm-pull-1" })*@
                                </div>
                                <div class="form-group" style="margin:10px">
                                    <div class="accreditation">الاعتمــاد النهائـــي</div>
                                </div>
                                <div class="form-group">
                                    <div class="vicechairmanecont">
                                        <div class="vicechairmane col-sm-6" style="border-right:1px solid transparent;">
                                            <p>
                                                نائب رئيس لجنة الخدمات و البحث الأجتماعي
                                            </p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="signature">التوقيع :</span>
                                                    <div class="vchairmanSign" style="border-bottom-style: dashed;padding: 40px 0 0px 0;"></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="name">الاسم:</span>
                                                    @Html.EditorFor(model => model.vchairmanName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.vchairmanName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chairmanecont">
                                        <div class="chairmane col-sm-6">

                                            <p>رئيس لجنة الخدمات و البحث الأجتماعي</p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="signature">التوقيع :</span>
                                                    <div class="chairmanSign" style="border-bottom-style: dashed;padding: 40px 0 0px 0;"></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="name">الاسم:</span>
                                                    @Html.EditorFor(model => model.chairmanName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.chairmanName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-3">
                                <img src="@Url.Content(Model.hardcopyAttach)" style="margin:10px" height="180" width="180" id="imagePreviewhardcopy" />
                            </div>
                            <div class="col-sm-3">
                                <input multiple type="file" name="hardcopyImageUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this, document.getElementById('imagePreviewhardcopy'))" />
                                @*Html.EditorFor(model => model.idCard, new {htmlAttributes = new { type="file", @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.hardcopyAttach, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-sm-2">إرفاق بطاقة الهوية</label>
                            @*@Html.LabelFor(model => model.hardcopyAttach, htmlAttributes: new { @class = "control-label col-sm-2" })*@
                        </div>

                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @type = "hidden", @value = "A", @class = "form-control" } })

                    </div><!-- officialuse tabpane -->
                </div> <!-- end tab-content -->
                <div class="wizard-footer">
                    <div class="pull-right">
                        <input type="button" class="btn btn-next btn-fill btn-success btn-wd last" value="التالي" style="background-color: #00bcd4;">
                        <input type="submit" class="btn btn-finish btn-fill btn-success btn-wd" name="finish" value="حفظ" style="display: none;background-color: #00bcd4;">
                    </div>
                    <div class="pull-left">
                        <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="مسبق">
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div> <!-- end form-horizontal -->
                                            }
    </div>
</div> <!-- wizard-container -->
